@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
  --dark: #101010;
  --dark-light: #4c4c4c;
  --orange: #D87D4A;
  --orange-light: #FBAF85;
  --light: #F1F1F1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.footer-banner {
  padding: 7.5rem 1.5rem;

  
}

.menu {
  padding: 2.5rem 1.5rem 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .footer-banner {
    padding: 6rem 2.5rem;
  }

  .menu {
    padding: 6rem 2.5rem 0 2.5rem;
  }
  
}

@media screen and (min-width: 1140px) {
  .footer-banner {
    padding: 200px 165px;
  }

  .menu {
    padding: 120px 165px 0 165px;
  }
}
